
html {
  body {
    margin: 0;
    text-align: center;
  }
}

$width: 800px;

#banner {
  position: relative;
  display: inline-block;
  width: 100%;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .300);
    z-index: 1;
  }

  .container {
    margin-top: 195px;
    width: 100%;
    border-style: solid;
    border-color: #ffffff;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    max-width: 800px;
    display: inline-block;
    position: relative;
    z-index: 2;
    div {
      max-width: $width;
      display: inline-block;
      margin-bottom: 54px;
    }
  }
  #navbar {
    position: relative;
    z-index: 2;
    div {
      position: relative;
      border: 1px solid #ffffff;
      border-radius: 4px;
      width: 480px;
      margin-top: 60px;
      display: inline-block;
      &:before {
        content: '';
        width: 1px;
        display: block;
        height: 60px;
        background: #ffffff;
        position: absolute;
        left: calc(50% - 1px);
        top: -61px;
      }
      ul {
        padding: 0;
        li {
          border: 1px solid #ffffff;
          display: inline-block;
          width: calc((480px - 3px) / 4);
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: rgba(255, 255, 255, .700);
            }
          }
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        height: 100%;
        background: #ffffff;
        width: 1px;
      }
    }
  }

}