
html {
  body {
    margin: 0;
    text-align: center;
  }
}

$width: 800px;

#banner {
  position: relative;
  display: inline-block;
  width: 100%;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;

  .container {
    margin-top: 195px;

    width: 100%;
    border-style: solid;
    border-color: #ffffff;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    max-width: 800px;
    display: inline-block;
    div {
      max-width: $width;
      display: inline-block;
    }
  }
  #navbar {
    nav {
      position: relative;
      border: 1px solid #ffffff;
      border-radius: 4px;
      width: 480px;
      margin-top: 60px;
      display: inline-block;
      &:before {
        content: '';
        width: 1px;
        display:block;
        height: 60px;
        background: #ffffff;
        position: absolute;
        left: 50%;
        top: -60px;
      }
      li {
        display: inline-block;
        padding: 5px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}